<div class="container">
  <h1>Ajouter un candidat</h1>

  <form #candidateForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input
        type="text"
        class="form-control"
        id="nom"
        [(ngModel)]="candidate.nom"
        name="nom"
        required
      />
    </div>

    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input
        type="text"
        class="form-control"
        id="prenom"
        [(ngModel)]="candidate.prenom"
        name="prenom"
        required
      />
    </div>
    <input type="hidden" class="form-control" [(ngModel)]="candidate.id" name="id" value="{{this.candiateLength()}}">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="candidate.email"
        name="email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="cin" class="form-label">CIN</label>
      <input
        type="number"
        class="form-control"
        id="cin"
        [(ngModel)]="candidate.cin"
        name="cin"
        required
      />
    </div>

    <div class="mb-3">
      <label for="mdp" class="form-label">Mot de passe</label>
      <input
        type="password"
        class="form-control"
        id="mdp"
        [(ngModel)]="candidate.mdp"
        name="mdp"
        required
      />
    </div>

    <div class="mb-3">
      <label for="photo" class="form-label">Photo</label>
      <input
        type="file"
        class="form-control"
        id="photo"
        (change)="onFileSelected($event)"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!candidateForm.form.valid"
    >
      Ajouter
    </button>
    <a routerLink="/admin-space/manage-candidates" class="btn btn-secondary ms-2">Annuler</a>
  </form>
</div>
