<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'Accueil - ISSET Rades</title>
  
</head>
<body>

  <section id="accueil" class="container mt-5">
    <h1>Bienvenue à l'ISET Rades</h1>
    <p>Bienvenue sur la page d'accueil de l'ISET Rades ! Nous proposons une large gamme de programmes de formation adaptés aux besoins des étudiants et professionnels dans divers domaines. Notre objectif est de vous offrir une formation de qualité, axée sur la pratique et l'innovation, afin de vous préparer au mieux aux défis du marché du travail.</p>
  </section>

  <section id="formations" class="container mt-5">
    <h2>Catégories de Formations</h2>
    <p>Nous offrons des formations dans les catégories suivantes :</p>
    <table class="table table-striped">
      <tr class="" >
        
        
        
      </tr>
    
    <tr class="" >
      <th scope="row"></th>
        
        <td ></td>
        
        
    </tr></table>
<div class="card" >
  <div class="card__title">Catégories</div>
  <div class="card__data" *ngFor="let formation of formations; let i = index">
    <div class="card__right">
      
      <div class="item">{{ i + 1 }}</div>
    </div>
    <div class="card__left">
      <div class="item">{{ formation.titre }}</div>
    </div>
  </div>
</div>

  </section>

  <section class="container mt-5">
    <h2>Pourquoi Choisir l'ISET Rades ?</h2>
    <ul>
      <li><strong>Formateurs expérimentés :</strong> Nos formateurs sont des experts dans leurs domaines respectifs et partagent leur savoir-faire pour vous aider à réussir.</li>
      <li><strong>Programmes flexibles :</strong> Nous proposons des formations adaptées à vos besoins et à votre emploi du temps, y compris des cours en ligne et en présentiel.</li>
      <li><strong>Accompagnement personnalisé :</strong> Nous offrons un suivi individualisé pour vous aider à atteindre vos objectifs académiques et professionnels.</li>
    </ul>
  </section>

  <footer class="bg-dark text-white text-center py-4">
    <p>&copy; 2024 ISET Rades - Tous droits réservés</p>
  </footer>

  
</body>
</html>

