<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'Accueil - ISSET Rades</title>
  
</head>
<body>

  <section id="accueil" class="container mt-5">
    <h1>Bienvenue à l'ISET Rades</h1>
    <p>Bienvenue sur la page d'accueil de l'ISSET Rades ! Nous proposons une large gamme de programmes de formation adaptés aux besoins des étudiants et professionnels dans divers domaines. Notre objectif est de vous offrir une formation de qualité, axée sur la pratique et l'innovation, afin de vous préparer au mieux aux défis du marché du travail.</p>
  </section>

  <section id="formations" class="container mt-5">
    <h2>Catégories de Formations</h2>
    <p>Nous offrons des formations dans les catégories suivantes :</p>
    <ul class="list-group">
      <li class="list-group-item">Technologies Informatique: Formation en Développement logiciel, cybersécurité, etc.</li>
      <li class="list-group-item">Gestion et Administration : Formation en gestion des affaires, marketing, management, etc.</li>
      <li class="list-group-item">Mécanique et Maintenance : Formation en Maintenance des machines industrielles, génie mécanique, etc.</li>
      <li class="list-group-item">Électricité et Électronique : Formation en Systèmes électriques, circuits électroniques, etc.'</li>
      <li class="list-group-item">Économie et Finance : Formation en Microéconomie, macroéconomie, économie internationale, etc. </li>
      <li class="list-group-item">Techniques de Production : Formation en Gestion de la production, gestion de la chaîne logistique, etc.</li>
    </ul>
    
  </section>

  <section class="container mt-5">
    <h2>Pourquoi Choisir l'ISSET Rades ?</h2>
    <ul>
      <li><strong>Formateurs expérimentés :</strong> Nos formateurs sont des experts dans leurs domaines respectifs et partagent leur savoir-faire pour vous aider à réussir.</li>
      <li><strong>Programmes flexibles :</strong> Nous proposons des formations adaptées à vos besoins et à votre emploi du temps, y compris des cours en ligne et en présentiel.</li>
      <li><strong>Accompagnement personnalisé :</strong> Nous offrons un suivi individualisé pour vous aider à atteindre vos objectifs académiques et professionnels.</li>
    </ul>
  </section>

  <footer class="bg-dark text-white text-center py-4">
    <p>&copy; 2024 ISSET Rades - Tous droits réservés</p>
  </footer>

  
</body>
</html>

