<div class="container mt-5">
  <h1>Gestion des Candidats</h1>

  <div class="mb-3">
    <a routerLink="add" class="btn btn-primary">Ajouter un candidat</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">CIN</th>
        <th scope="col">Mot de Passe</th>
        <th scope="col">Photo</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidat of candidats; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ candidat.nom }}</td>
        <td>{{ candidat.prenom }}</td>
        <td>{{ candidat.email }}</td>
        <td>{{ candidat.cin }}</td>
        <td>{{ candidat.mdp }}</td>
        <td>
          <img
            *ngIf="candidat.photo"
            [src]="candidat.photo"
            alt="Photo"
            class="img-thumbnail"
            style="max-width: 100px;"
          />
          <span *ngIf="!candidat.photo">Pas de photo</span>
        </td>
        <td>
          <a
            [routerLink]="['modify', candidat.id]"
            class="btn btn-warning btn-sm"
            >Modifier</a
          >
          <button
            (click)="deleteCandidat(candidat.id)"
            class="btn btn-danger btn-sm"
          >
            Supprimer
          </button>
        </td>
      </tr>
      <tr *ngIf="candidats.length === 0">
        <td colspan="8" class="text-center">Aucun candidat trouvé</td>
      </tr>
    </tbody>
  </table>
</div>
